* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#date {
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    transition: 0.25s ease-in;
    padding: 0;

}

#dateMenu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 10px;
    overflow: hidden;
    background-color: blue;
    transition: width 0.25s ease-in;
}

#hide-button {
    background-color: green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 15px;
    cursor: pointer;
    width: 25%;
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(89, 132, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 35px;
    padding: 10px;
    text-align: center;
    background-color: rgb(54, 52, 146);
    color: white;
    width: 100%;
}

.button-wrapper {
    width: 100%;
    background-color: rgb(54, 52, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button {
    width: 20%;
    color: white;
    padding: 10px;
    background-color: rgb(100, 1, 100);
    cursor: pointer;
    border: 2px outset rgb(107, 79, 84);
    text-align: center;
    margin: 10px;
    font-size: 20px;
    user-select: none;
    border-radius: 10px;
    height: 100%;
}

.button:active {
    border: 2px inset rgb(107, 79, 84);
}

#search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 1, 100);
    border: 2px solid black;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    width: 25%;
    padding: 0 10px;
}

#search-title {
    height: 100%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

#search-bar {
    height: 100%;
    padding: 10px;
    background-color: rgb(54, 52, 146);
    border: none;
    color: white;
    border-radius: 10px;
    border: 2px inset rgb(128, 124, 124);
    margin: 10px;
    width: 60%;
    font-size: 18px;
    flex: 1;
}

#search-bar:focus {
    outline: none;
    background-color: rgb(66, 64, 184);
}

#search-bar:focus::placeholder {
    color: transparent;
}

#search-bar::placeholder {
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
}

#medicine-box {
    width: 85%;
    padding: 10px;
    background-color: deepskyblue;
    
}

.medicine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: 90%;

}

.medicine:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.item {
    padding: 5px;
    margin: 0;
    font-size: 20px;
    height: 100%;
}

.index {
    flex-basis: 4%;
}

.expiration-date {
    flex-basis: 10%;
}

.medicine-name {
    flex-basis: 30%;
}

.medicine-type {
    flex: 1;
}

.quantity {
    flex-basis: 20%;
}
