* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    background-color: rgb(41,148,178);
    background-image: url(images/blue-1323101.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search {
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.25s ease-in;
    padding: 0;
    z-index: 100;
}

#searchMenu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 12px;
    overflow: hidden;
    background-color: #23A7CC;
    transition: width 0.25s ease-in;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-bottom-left-radius: 10px;
    color: white;
}

#search-title {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 18px;
}

#search-bar {
    height: 100%;
    padding: 5px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    margin: 10px;
    width: 70%;
    font-size: 18px;
    flex: 1;
    border: 2px inset gray;
}

#search-bar:focus {
    outline: none;
    background-color: white;
}

#search-bar:focus::placeholder {
    color: transparent;
}

#search-bar::placeholder {
    color: rgba(0, 0, 0, 0.507);
    text-align: center;
}

#hide-button {
    background-color: #2994B2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 12px 15px;
    cursor: pointer;
    width: 50px;
    min-width: 50px;
    border-bottom: 1px solid white;
}

.triangle {
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    border-left: 15px solid white; 
}

#current-date {
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
}

#top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-item {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 30px 0;
    color: black;
    font-size: 20px;
    padding: 0 50px;
    
}

.top-item img {
    max-width: 100px;
    margin-right: auto;
    margin-left: 20px;
}

#myDate {
    font-weight: bold;
    padding: 0;
}

#title {
    font-size: 35px;
    padding: 10px;
    text-align: center;
    color: black;
    width: 40%;
}

.legend {
    display: flex;
    font-size: 18px;
}

.legend-item {
    padding: 10px;
    text-align: start;
}

.legend-item::before {
    content: "";
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    
}

#exp-in-3m::before {
    background-color: yellow;
}

#exp-in-1m::before {
    background-color: #E03616;
}

#expired::before {
    background-color: gray;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button {
    min-width: 20%;
    color: white;
    padding: 10px;
    background-color: #23A7CC;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    user-select: none;
    border-radius: 10px;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:active {
    background-color: #2994B2;
}

.label-container {
    width: 90%;
    padding: 10px;
}

.label {
    padding: 5px;
    border: 1px solid black;
    border-right: none;
    text-align: center;
    background-color: #23A7CC;
    color: white;
    /* font-weight: bolder; */
}

.box {
    width: 90%;
    padding: 10px;
}

.medicine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    height: 100%;
}

.item {
    padding: 5px;
    margin: 0;
    font-size: 16px;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}

.index, .index-label {
    flex-basis: 4%;
}

.expiration-date, .expiration-date-label {
    flex-basis: 12%;
}

.medicine-name, .medicine-name-label  {
    flex-basis: 28%;
}

.medicine-type, .medicine-type-label {
    flex-basis: 40%;
}

.quantity, .quantity-label {
    flex-basis: 20%;
    border: 1px solid black;
}

.delete, .delete-label {
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    background-color: #23A7CC;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5px;
}

.delete-label {
    opacity: 0;
}

.delete:active {
    background-color: #2994B2;
}

.addMedicineWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.addMedicine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(89, 132, 161);
    font-size: 20px;
    min-width: 30%;
    border-radius: 32px;
    box-shadow: 0px 0px 15px 1px black;
}

.addMedicine h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
}

.addMedicine input {
    border: 2px inset gray;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    width: 60%;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10%;
    padding: 20px;
}

.addMedicine button {
    padding: 10px;
    font-size: 20px;
    width: 45%;
    border-radius: 5px;
    border: 2px outset gray;
    outline: none;
}

.addMedicine button:active {
    border: 2px inset gray;
}

@media (max-width: 450px) {

    .top-item img {
        width: 60px;
    }
    #title {
        font-size: 18px;
    }

    #myDate p {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }
}

@media (min-width: 451px) and (max-width: 992px) {
    #search {
        width: 100vw;
        transition: none;
    }

    #searchMenu {
        width: 100%;
        border-radius: 0px;
        transition: none;
    }

    .button {
        font-size: 15px;
    }

    #hide-button {
        display: none;
    }

    .container {
        width: 100%;
    }

    #medicine-box {
        width: 100%;
    }

    .index {
        display: none;
    }

    .item {
        font-size: 16px;
    }

}

@media (max-width: 1500px) {
    .container {
        width: 95%;
    }
}