* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    background-color: white;
    background-image: url(images/blue-1323101.png);
    background-repeat: repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search {
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.25s ease-in;
    padding: 0;
    z-index: 100;
}

#searchMenu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 12px;
    overflow: hidden;
    background-color: rgb(89, 132, 161);
    transition: width 0.25s ease-in;
    border-bottom-left-radius: 10px;
    color: white;
}

#search-title {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 18px;
}

#search-bar {
    height: 100%;
    padding: 5px;
    background-color: rgb(248, 216, 216);
    border: none;
    color: black;
    border-radius: 5px;
    margin: 10px;
    width: 70%;
    font-size: 18px;
    flex: 1;
    border: 2px inset gray;
}

#search-bar:focus {
    outline: none;
    background-color: white;
}

#search-bar:focus::placeholder {
    color: transparent;
}

#search-bar::placeholder {
    color: rgba(0, 0, 0, 0.507);
    text-align: center;
}

#hide-button {
    background-color: rgb(100, 1, 100);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 15px;
    cursor: pointer;
    max-width: 15%;
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(89, 132, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-bar {
    background-color: rgb(54, 52, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-item {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 30px 0;
    color: white;
    font-size: 20px;
    padding: 0 50px;
    
}

.top-item img {
    max-width: 100px;
    margin-right: auto;
    margin-left: 20px;
}

#myDate {
    font-weight: bold;
    padding: 0;
}


#title {
    font-size: 35px;
    padding: 10px;
    text-align: center;
    background-color: rgb(54, 52, 146);
    color: white;
    width: 40%;
}

.button-wrapper {
    width: 100%;
    background-color: rgb(54, 52, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button {
    min-width: 20%;
    color: white;
    padding: 10px;
    background-color: rgb(100, 1, 100);
    cursor: pointer;
    border: 2px outset rgb(107, 79, 84);
    text-align: center;
    margin: 10px;
    font-size: 18px;
    user-select: none;
    border-radius: 10px;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:active {
    border: 2px inset rgb(107, 79, 84);
}

#medicine-box {
    width: 85%;
    padding: 10px;
    background-color: deepskyblue;
    
}

.medicine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: 90%;

}

.medicine:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.item {
    padding: 5px;
    margin: 0;
    font-size: 20px;
    height: 100%;
}

.index {
    flex-basis: 4%;
    
}

.expiration-date {
    flex-basis: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.medicine-name {
    flex-basis: 28%;
}

.medicine-type {
    flex: 1;
}

.quantity {
    flex-basis: 20%;
}

.delete {
    cursor: pointer;
    color: red;
}

.addMedicineWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.addMedicine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(89, 132, 161);
    font-size: 20px;
    min-width: 30%;
    border-radius: 32px;
    box-shadow: 0px 0px 15px 1px black;
}

.addMedicine h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
}

.addMedicine input {
    border: 2px inset gray;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    width: 60%;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10%;
    padding: 20px;
}

.addMedicine button {
    padding: 10px;
    font-size: 20px;
    width: 45%;
    border-radius: 5px;
    border: 2px outset gray;
}

@media only screen and (max-width: 992px) {
    #search {
        width: 100vw;
        transition: none;
    }

    #searchMenu {
        width: 100%;
        border-radius: 0px;
        transition: none;
    }

    .button {
        font-size: 15px;
    }

    #hide-button {
        display: none;
    }


    .container {
        width: 100%;
    }

    #medicine-box {
        width: 95%;
    }

    .index {
        display: none;
    }

    .item {
        font-size: 16px;
    }

}